<div [class.valid]="checkValid()" [class.invalid]="checkInvalid()">
  <label for="{{identifier}}">{{label}}</label>
  <input id="{{identifier}}" type="text" [(ngModel)]="value">
  <div class="c"></div>
</div>
