@import '../../variable.scss';

div:not(.c) {
  position: relative;
  margin: 5px auto;
  border-bottom: 1px solid $default-color;
  padding-bottom: 0;

  label {
    width: 20%;
    text-align: right;
    font-weight: 900;
    line-height: 0;
    margin-bottom: 0;
    height: 100%;
    vertical-align: top;
    margin-top: 10px;
  }

  textarea {
    display: inline-block;
    width: 75%;
    border: none;
    padding-left: 5px;
    padding-bottom: 0;

    &:focus {
      outline: none;
    }
  }

  .c {
    clear: both;
  }

  &:focus {
    border-bottom-color: $highlight-color;

    label {
      color: $highlight-color;
    }
  }

  &.valid {
    border-bottom-color: $valid-color;

    label {
      color: $valid-color;
    }

    &:focus {
      border-bottom-color: $valid-highlight-color;

      label {
        color: $valid-highlight-color;
      }
    }
  }

  &.invalid {
    border-bottom-color: $invalid-color;

    label {
      color: $invalid-color;
    }

    &:focus {
      border-bottom-color: $invalid-highlight-color;

      label {
        color: $invalid-highlight-color;
      }
    }
  }
}
