<div [class.valid]="checkValid()" [class.invalid]="checkInvalid()">
  <label for="{{identifier}}">{{label}}</label>
  <textarea id="{{identifier}}" rows="4" [(ngModel)]="value"></textarea>
  <span class="c"></span>
</div>
