<div class="container">
  <h1>ngModel example</h1>

  <div class="fields">
    <aw-input [label]="'Name'" [(ngModel)]="name"></aw-input>
    <aw-text [label]="'Message'" [(ngModel)]="message"></aw-text>
  </div>

  <div class="result">
    Name: {{name}}
    <br />
    Message: {{message}}
  </div>
</div>

<div class="container">
  <h1>Forms example</h1>


  <form [formGroup]="myForm">
    <aw-input [label]="'Name'" [showError]="true" formControlName="name"></aw-input>
    <aw-input [label]="'Email'" [showError]="true" formControlName="email"></aw-input>
    <aw-input [label]="'Url'" [showError]="true" formControlName="url"></aw-input>
    <aw-text [label]="'Message'" [showError]="true" formControlName="message"></aw-text>
  </form>

  <div class="result">
    Name: {{myForm.controls['name'].value}} ({{myForm.controls['name'].valid}})
    <br />
    Email: {{myForm.controls['email'].value}} ({{myForm.controls['email'].valid}})
    <br />
    Url: {{myForm.controls['url'].value}} ({{myForm.controls['url'].valid}})
    <br />
    Message: {{myForm.controls['message'].value}} ({{myForm.controls['message'].valid}})
  </div>
</div>
